* {
  background-color: #282c34;
}

.App {
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  background-color: #282c34;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  width: 75%;
  padding: 15px;
}
